{% extends "base.html" %}
{% block title %}Excluir Curso{% endblock %}

{% block css %} 
<style>
    #course-delete-container {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #633e84
    }
    form button{
      border: none;
      height: 36px;
      border-radius: 5px;
      background-color: #633e84;
      color: white;
    }
</style>
{% endblock%}
{% block content %}
<div id="course-delete-container">
  <h1>Excluir Curso</h1>
<p>Tem certeza que deseja excluir o curso "{{ object.nome }}"?</p>

<form method="post">
  {% csrf_token %}
  <button type="submit">Confirmar Exclusão</button>
  <a href="{% url 'curso-list' %}">Cancelar</a>
</form>
</div>
{% endblock %}
