{% extends "base.html" %}
{% load static %}
{% block css%} 
<link rel="stylesheet" href="{% static "css/course_create.css" %}">
{% endblock %}
{% block content%}
<table>
  <tr>
    <th>Aluno</th>
    <th>Curso</th>
  </tr>
  <tr>
    {% for aluno in aluno_list %}
    <td><a href="{% url 'aluno-detail' aluno.id%}"> {{ aluno.nome }}</a></td>
    {% empty %}
     <td> Nenhum Aluno Encontrado</td>
    {% endfor %}
    {% for aluno in aluno_list %}
    <td><a href="{% url 'curso-detail' aluno.curso.id%}"> {{ aluno.curso.nome }}</a></td>
    {% empty %}
     <td> Nenhum Aluno Encontrado</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
  </tr>
         </table> 
{% endblock %}
