{% extends "base.html" %}
{% block title %}Lista de Alunos{% endblock %}

{% block content %}
<h1>Alunos</h1>
<a href="{% url 'aluno-create' %}">Novo Aluno</a>
<ul>
  {% for aluno in object_list %}
  <li>
    <a href="{% url 'aluno-detail' aluno.pk %}">{{ aluno.nome }}</a> |
    <a href="{% url 'aluno-update' aluno.pk %}">Editar</a> |
    <a href="{% url 'aluno-delete' aluno.pk %}">Excluir</a>
  </li>
  {% empty %}
  <li>Não há alunos cadastrados.</li>
  {% endfor %}
</ul>
<a href="{% url 'curso-list' %}">Ir para Cursos</a>
{% endblock %}
